.connection-container {
    text-align:center;
}

#avatar {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}

form.connection {
    display:inline-block;
}

form.connection .helplink {
    font-size:0.9em;
}

form.connection input,
form.connection label {
    text-align:left;
}
