#connection .label::after {
    content:" :";
}

#connection .helplink {
    font-size:0.9em;
}

#connection {
    display:table;
    border-spacing:5px;
}

.field {
    display:table-row;
}

#connection .label {
    width:40%;
}

#connection .label, #connection input {
    display:table-cell;
}
