/* glue: 0.3 hash: 01c683451e */
.sprite-icon-zip,
.sprite-icon-yml,
.sprite-icon-xml,
.sprite-icon-xlsx,
.sprite-icon-xls,
.sprite-icon-wav,
.sprite-icon-txt,
.sprite-icon-tiff,
.sprite-icon-tgz,
.sprite-icon-tga,
.sprite-icon-sql,
.sprite-icon-rtf,
.sprite-icon-rb,
.sprite-icon-rar,
.sprite-icon-qt,
.sprite-icon-py,
.sprite-icon-psd,
.sprite-icon-ppt,
.sprite-icon-png,
.sprite-icon-php,
.sprite-icon-pdf,
.sprite-icon-ott,
.sprite-icon-ots,
.sprite-icon-otp,
.sprite-icon-odt,
.sprite-icon-ods,
.sprite-icon-odf,
.sprite-icon-mpg,
.sprite-icon-mp4,
.sprite-icon-mp3,
.sprite-icon-mid,
.sprite-icon-key,
.sprite-icon-jpg,
.sprite-icon-java,
.sprite-icon-iso,
.sprite-icon-ics,
.sprite-icon-html,
.sprite-icon-hpp,
.sprite-icon-h,
.sprite-icon-gif,
.sprite-icon-flv,
.sprite-icon-exe,
.sprite-icon-eps,
.sprite-icon-dxf,
.sprite-icon-dwg,
.sprite-icon-dotx,
.sprite-icon-doc,
.sprite-icon-dmg,
.sprite-icon-dat,
.sprite-icon-css,
.sprite-icon-cpp,
.sprite-icon-c,
.sprite-icon-bmp,
.sprite-icon-avi,
.sprite-icon-aiff,
.sprite-icon-ai,
.sprite-icon-aac,
.sprite-icon-_page,
.sprite-icon-_blank{background-image:url('http://ip7.localhost/views/static/images/file-icons-16px.png');background-repeat:no-repeat}
.sprite-icon-zip{background-position:0px 0px;width:16px;height:16px;}
.sprite-icon-yml{background-position:-16px 0px;width:16px;height:16px;}
.sprite-icon-xml{background-position:0px -16px;width:16px;height:16px;}
.sprite-icon-xlsx{background-position:-16px -16px;width:16px;height:16px;}
.sprite-icon-xls{background-position:-32px 0px;width:16px;height:16px;}
.sprite-icon-wav{background-position:-32px -16px;width:16px;height:16px;}
.sprite-icon-txt{background-position:0px -32px;width:16px;height:16px;}
.sprite-icon-tiff{background-position:-16px -32px;width:16px;height:16px;}
.sprite-icon-tgz{background-position:-32px -32px;width:16px;height:16px;}
.sprite-icon-tga{background-position:-48px 0px;width:16px;height:16px;}
.sprite-icon-sql{background-position:-48px -16px;width:16px;height:16px;}
.sprite-icon-rtf{background-position:-48px -32px;width:16px;height:16px;}
.sprite-icon-rb{background-position:0px -48px;width:16px;height:16px;}
.sprite-icon-rar{background-position:-16px -48px;width:16px;height:16px;}
.sprite-icon-qt{background-position:-32px -48px;width:16px;height:16px;}
.sprite-icon-py{background-position:-48px -48px;width:16px;height:16px;}
.sprite-icon-psd{background-position:-64px 0px;width:16px;height:16px;}
.sprite-icon-ppt{background-position:-64px -16px;width:16px;height:16px;}
.sprite-icon-png{background-position:-64px -32px;width:16px;height:16px;}
.sprite-icon-php{background-position:-64px -48px;width:16px;height:16px;}
.sprite-icon-pdf{background-position:0px -64px;width:16px;height:16px;}
.sprite-icon-ott{background-position:-16px -64px;width:16px;height:16px;}
.sprite-icon-ots{background-position:-32px -64px;width:16px;height:16px;}
.sprite-icon-otp{background-position:-48px -64px;width:16px;height:16px;}
.sprite-icon-odt{background-position:-64px -64px;width:16px;height:16px;}
.sprite-icon-ods{background-position:-80px 0px;width:16px;height:16px;}
.sprite-icon-odf{background-position:-80px -16px;width:16px;height:16px;}
.sprite-icon-mpg{background-position:-80px -32px;width:16px;height:16px;}
.sprite-icon-mp4{background-position:-80px -48px;width:16px;height:16px;}
.sprite-icon-mp3{background-position:-80px -64px;width:16px;height:16px;}
.sprite-icon-mid{background-position:0px -80px;width:16px;height:16px;}
.sprite-icon-key{background-position:-16px -80px;width:16px;height:16px;}
.sprite-icon-jpg{background-position:-32px -80px;width:16px;height:16px;}
.sprite-icon-java{background-position:-48px -80px;width:16px;height:16px;}
.sprite-icon-iso{background-position:-64px -80px;width:16px;height:16px;}
.sprite-icon-ics{background-position:-80px -80px;width:16px;height:16px;}
.sprite-icon-html{background-position:-96px 0px;width:16px;height:16px;}
.sprite-icon-hpp{background-position:-96px -16px;width:16px;height:16px;}
.sprite-icon-h{background-position:-96px -32px;width:16px;height:16px;}
.sprite-icon-gif{background-position:-96px -48px;width:16px;height:16px;}
.sprite-icon-flv{background-position:-96px -64px;width:16px;height:16px;}
.sprite-icon-exe{background-position:-96px -80px;width:16px;height:16px;}
.sprite-icon-eps{background-position:0px -96px;width:16px;height:16px;}
.sprite-icon-dxf{background-position:-16px -96px;width:16px;height:16px;}
.sprite-icon-dwg{background-position:-32px -96px;width:16px;height:16px;}
.sprite-icon-dotx{background-position:-48px -96px;width:16px;height:16px;}
.sprite-icon-doc{background-position:-64px -96px;width:16px;height:16px;}
.sprite-icon-dmg{background-position:-80px -96px;width:16px;height:16px;}
.sprite-icon-dat{background-position:-96px -96px;width:16px;height:16px;}
.sprite-icon-css{background-position:-112px 0px;width:16px;height:16px;}
.sprite-icon-cpp{background-position:-112px -16px;width:16px;height:16px;}
.sprite-icon-c{background-position:-112px -32px;width:16px;height:16px;}
.sprite-icon-bmp{background-position:-112px -48px;width:16px;height:16px;}
.sprite-icon-avi{background-position:-112px -64px;width:16px;height:16px;}
.sprite-icon-aiff{background-position:-112px -80px;width:16px;height:16px;}
.sprite-icon-ai{background-position:-112px -96px;width:16px;height:16px;}
.sprite-icon-aac{background-position:0px -112px;width:16px;height:16px;}
.sprite-icon-_page{background-position:-16px -112px;width:16px;height:16px;}
.sprite-icon-_blank{background-position:-32px -112px;width:16px;height:16px;}
