
/* == General ============================================= */

html {
    font-family: helvetica, sans-serif;
    font-size: 1em;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.inline-block { display:inline-block; }

a {
    outline:none;
    border:none;
}

/* == Main content ======================================== */

#main_content { display:table; }
#main_content > aside,
#main_content > article {
    display:table-cell;
}

/* == Code ================================================ */

.filepath,
code,
pre {
    font-family: 'dejavu sans mono', monospace;
}

.filepath, code {
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
   background: #EEE; 
   padding-left: 2px;
   padding-right: 2px;
   font-size:small;
}

/* == Nav bars ============================================ */

.bar ul,
.bar li,
.bar nav,
.bar {
    display: inline-block;
}

.navlink abbr {
    outline:none;
    border:none;
}

/* == Breadcrumbs ========================================= */

#breadcrumbs .next:before {
    content: '›';
}

#breadcrumbs li {
    display:inline-block;
}

/* == Forms =============================================== */

label.hidden.explicit {
    display:inline-block;
    width:0;
    overflow:hidden;
    margin:0;
}

input.valid {border-color: green;}
input.invalid {border-color: red;}

form label,
#edit_form input[type=submit] { display:block; }

/* == Headers ============================================= */

#main_logo_link {
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
}

#logo {
    margin:0;
}
