
.bar li {
    display:inline-block;
}

/* Basic CSS */

#global_nav,
#cursus_nav,
#others_nav,
#search,
#breadcrumb .navlink,
#global_header .navlink,
#global_footer .navlink,
#global_header .buffer {
    display: inline-block;
}

#search label {
    display:inline-block;
    width:0;
    overflow:hidden;
}

#main_logo_link {
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
}

#logo {
    margin:0;
}

#breadcrumb .next:before {
  content: '›';
}

form label,
#edit_form input[type=submit] { display:block; }

input.valid {border:1px solid green;}
input.invalid {border:1px solid red;}

#main_content { display:table; }
#main_content > aside,
#main_content > article {
    display:table-cell;
}
