{% extends 'main.html' %}
{% block content %}
{# Menu des matières #}
{% if page.cursus.courses is not empty %}
<aside class="left submenu">
    <h4>Matières</h4>
    <section class="semester">
        <h5>Semestre 1</h5>
        <nav>
            <section class="mandatory">
            <ul>
                {% for course in page.cursus.courses.s1.mandatory %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                {% endfor %}
                {% if page.cursus.courses.s1.optional is not empty %}
            </ul>
            </section>
            <section class="optional">
            <h6>Options</h6>
            <ul>
                    {% for course in page.cursus.courses.s1.optional %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            </section>
        </nav>
    </section>
    <section class="semester">
        <h5>Semestre 2</h5>
        <nav>
            <section class="mandatory">
            <ul>
                {% for course in page.cursus.courses.s2.mandatory %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                {% endfor %}
            {% if page.cursus.courses.s2.optional is not empty %}
            </ul>
            </section>
            <section class="optional">
            <h6>Options</h6>
            <ul>
                    {% for course in page.cursus.courses.s2.optional %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                    {% endfor %}
            {% endif %}
            </ul>
            </section>
        </nav>
    </section>
</aside>
{% endif %}
<article class="cursus" data-cursus-id="{{ page.cursus.id }}">
{# Intro #}
<h1>{{ page.cursus.path_name }} ({{ page.cursus.name }})</h1>
<section class="intro">{{ page.cursus.introduction|md2html|raw }}</section>
{# News #}
{% include 'utils/news.html' %}
</article>
{% if page.cursus.other_links is defined and page.cursus.other_links is not empty %}
{# Menu 'Autres ressources' #}
<aside class="right submenu">
    <h4>Autres ressources</h4>
    <nav>
        <ul>
        {% for link in page.cursus.other_links %}
            {{ _m.navlink(link.href, link.title) }}
        {% endfor %}
        </ul>
    </nav>
    {% if page.cursus.reponsable is defined and page.cursus.responsable %}
    <h4>Responsable</h4>
    <span class="person">{{ _m.a(page.cursus.responsable.href, page.cursus.responsable.title )}}</span>
    {% endif %}
</aside>
{% endif %}

{% endblock %}
