{% extends 'main.html' %}
{% block content %}
{# Menu des matières #}
{% if page.cursus.courses is not empty %}
<aside class="left submenu">
    <h4>Matières</h4>
    <section class="semester">
        <h5>Semestre 1</h5>
        <nav>
            <ul>
                {% for course in page.cursus.courses.s1 %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </section>
    <section class="semester">
        <h5>Semestre 2</h5>
        <nav>
            <ul>
                {% for course in page.cursus.courses.s2 %}
                <li class="navlink course"><a href="{{ course.href }}">{{ _m.abbr(course.name, course.title) }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </section>
</aside>
{% endif %}
<article class="cursus" data-cursus-id="{{ page.cursus.id }}">
{# Intro #}
    <header>
        <h1>{{ page.cursus.name }}</h1>
    </header>
<section class="intro">{{ page.cursus.introduction|md2html|raw }}</section>
</article>
{% endblock %}
