{% extends 'main.html' %}
{% block content %}
<article class="cursus">
{# Intro #}
<h1>{{ page.title }}</h1>
<h2>Contenus non validés</h2>
{% if page.contents is defined and page.contents %}
<table id="proposedList" border="1">
<tr><th>Titre</th><th>Cursus</th><th>Cours</th><th>Auteur</th><th>Date</th><th class="empty"</th></tr>

{% for c in page.contents %}
<tr>
    <td>{{ c.title }}</td>
    <td>{% if c.cursus is defined %}{{ c.cursus.name }}{% endif %}</td>
    <td>{% if c.course is defined %}{{ c.course.name }}{% endif %}</td>
    <td>{{ _m.a_user(c.author) }}</td>
    <td>{{ _m.date(c.date) }}</td>
    <td><a href="{{ c.href }}" class="button">Voir</a></td>
</tr>
{% endfor %}

</table>
{% else %}
<p>Il n’y a pas de contenus non validés pour ce cursus.</p>
{% endif %}
</article>
{% endblock %}
