{% extends 'main.html' %}
{% block content %}
{# Menu des matières #}
<aside class="left submenu">
    <h4>Parcours pédagogiques</h4>
    <nav>
    <ul class="educational-paths">
        {% for p in page.cursus.educational_paths %}
        <li class="navlink educpath"><a href="{{ p.href }}"><abbr title="{{ p.name }}">{{ p.title }}</abbr></a></li>
        {% endfor %}
    </ul>
</aside>
<article class="cursus">
{# Intro #}
<h1>{{ page.cursus.name }}</h1>
<section class="intro">{{ page.cursus.introduction }}</section>
{# News #}
{% include 'utils/news.html' %}
</article>
{% if page.cursus.other_links is defined and page.cursus.other_links is not empty %}
{# Menu 'Autres ressources' #}
<aside class="right submenu">
    <h4>Autres ressources</h4>
    <nav>
        <ul>
        {% for link in page.cursus.other_links %}
            {{ _m.navlink(link.href, link.title) }}
        {% endfor %}
        </ul>
    </nav>
</aside>
{% endif %}
{% endblock %}
