# Vim tmp files
*~
*.swp
*.swo

# Docs
*.pdf
/**/docs
doc

# Minified files
*.min.css
*.min.js

# Templates cache
/cache

# Models
/models/build/migrations
migration.sql
/models/runtime-conf.xml
/models/buildtime-conf.xml
/models/build/conf/ip7website-conf.php
models/build/classes/ip7website/om
models/build/classes/ip7website/map

# Composer (vendor files)
/vendor
composer.lock

# OSX
.DS_Store

# Node
node_modules

# Archives
*.jar
*.zip
*.bz2

# Misc
/data
/web
/bin
/app
jslog
.bundle
.sass-cache
