SetEnv PHP_VER 5_3
SetEnv SESSION_USE_TRANS_SID 0
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
AddDefaultCharset UTF-8

AddType text/cache-manifest .appcache

<IfModule mod_rewrite.c>

Options +FollowSymlinks
Options -Indexes
RewriteEngine on

# Redirect admin.infop7.org to www.infop7.org/admin
RewriteCond %{HTTP_HOST} ^admin.infop7.org$ [NC]
RewriteRule ^(.*)$ http://www.infop7.org/admin/$1 [L,R=301]

# Redirect to www.
RewriteCond %{HTTP_HOST} !^dev.infop7.org$ [NC]
RewriteCond %{HTTP_HOST} !^static1.infop7.org$ [NC]
RewriteCond %{HTTP_HOST} !^static2.infop7.org$ [NC]
RewriteCond %{HTTP_HOST} !^test.infop7.org$ [NC]
RewriteCond %{HTTP_HOST} !^www.infop7.org$ [NC]
RewriteCond %{HTTP_HOST} !^wiki.infop7.org$ [NC]
# except for local tests
RewriteCond %{HTTP_HOST} !localhost$ [NC]

RewriteRule ^(.*)$ http://www.infop7.org/$1 [L,R=301]

# Limonade

# test string is a valid files
RewriteCond %{SCRIPT_FILENAME} !-f
# test string is a valid directory
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$   index.php?uri=/$1    [NC,L,QSA]
# with QSA flag (query string append),
# forces the rewrite engine to append a query string part of the
# substitution string to the existing string, instead of replacing it.
</IfModule>

# pages Expiration 
#<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/cache-manifest "access plus 0 seconds"
ExpiresByType text/html "access plus 1 seconds"
ExpiresByType image/gif A2600000
ExpiresByType image/png A2600000
ExpiresByType image/jpeg A2600000
ExpiresByType text/javascript A2600000
ExpiresByType text/plain A2600000
ExpiresByType application/javascript A2600000
ExpiresByType application/x-javascript A2600000
ExpiresByType image/ico A2600000
ExpiresByType image/icon A2600000
ExpiresByType image/x-icon A2600000
ExpiresByType text/css A2600000
ExpiresByType application/x-httpd-php A14400
#</IfModule>

# Don't compress images
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico)$ no-gzip dont-vary

# Gzip compression
<IfModule mod_deflate.c>
<filesMatch "\.(js|css|html)$">
SetOutputFilter DEFLATE
</filesMatch>
</IfModule>

FileETag none
