{% extends 'main.html' %}
{% import 'macros.html' as _m %}
{% block content %}
<h1>{{ page.title }}</h1>

<form action="{{ page.edit_form.action }}" method="POST" id="edit_form">

    {# <label>Avatar&nbsp;:<input type="file" name="avatar" accept="image/gif,image/jpeg,image/png" /></label> #}
    <label>Site Web&nbsp;:<input type="url" name="website" placeholder="http://"{#
            #}{% if page.user.website is defined and page.user.website %} value="{{ page.user.website }}"{% endif %} maxlength="200" /></label>
    <label>Ancien mot de passe&nbsp;:<input type="password" name="old_password" /></label>
    <label>Nouveau mot de passe&nbsp;:<input type="password" name="new_password" /></label>

    <p class="label">Genre&nbsp;:<label><input type="radio" name="gender" value="M"{% if page.user.gender is defined and page.user.gender == 'M' %}{#
                                                #} checked{% endif %} /> Homme</label>{#
                              #}<label><input type="radio" name="gender" value="F" {% if page.user.gender is defined and page.user.gender == 'F' %}{#
                                                #} checked{% endif %} /> Femme</label>{#
                              #}<label><input type="radio" name="gender" value="N" {% if page.user.gender is defined and page.user.gender == 'N' %}{#
                                                #} checked{% endif %} /> Non précisé</label>

    <label>Adresse&nbsp;:<input type="text" name="address" maxlength="200" {#
           #}{% if page.user.address is defined and page.user.address %} value="{{ page.user.address }}"{% endif %}/></label>

    <label class="explicit" for="desc">Présentation&nbsp;:</label>
    <textarea id="desc" name="description" cols="80" rows="25">{{ page.user.description }}</textarea>

    <fieldset id="options">
        <legend>Options</legend>
        {% for opt in page.user.options %}
        <label>{{ _m.checkbox(opt.name, true, null, opt.value) }} {{ opt.title }}</label>
        {% endfor %}
    </fieldset>

        {{ _m.submit('Valider') }}
	</form>
{% endblock %}
