{% extends 'admin_main.html' %}
{% import 'macros.html' as _m %}

{% block admin_content %}
{{ parent() }}

	<p><h3> {{ page.content.title }} </h3></p>
	<p> {{ page.content.cursus }} -- {{ page.content.courseName }} ( {{ page.content.courseCode }} ) </p>
	<p><em> Posté par : {#{ page.content.username }#} le {{ page.content.date }} </em></p>
	<p> {{ page.content.contentText }} </p>
	<p>
		{% for option in page.options %}
			{{ _m.a(option.href, option.title) }}
		{% endfor %}
		
{% endblock %}	

