{# cf http://coderwall.com/p/p0nvjw #}
{% if page.breadcrumbs is defined and page.breadcrumbs %}
  {% if page.breadcrumbs == 'default' %}
<ol id="breadcrumbs">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink">
        <a href="{{ site.root }}" itemprop="url">
            <span itemprop="title">Accueil</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink next">
        <a href="{{ page.url }}" itemprop="url">
            <span itemprop="title">{{ page.title }}</span>
        </a>
    </li>  
</ol>
  {% else %}
<ol id="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink">
        <a href="{{ site.root }}" itemprop="url">
            <span itemprop="title">Accueil</span>
        </a>
    </li>
    {% for b in page.breadcrumbs %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="navlink next">
        <a href="{{ b.href }}" itemprop="url">
            <span itemprop="title">{{ b.title }}</span>
        </a>
    </li>  
    {% endfor %}
</ol>
  {% endif %}
{% endif %}
