{% extends "main.html" %}
{% block content %}
    {{ parent() }}

    <p class="help">Pour signaler efficacement un bug, précisez sur quelle page il est, ce que vous avez fait avant, et comment le reproduire. N’oubliez pas de fournir une adresse e-mail si vous attendez une réponse, ou voulez être informé de la correction du problème.</p>
    
    <form action="" method="POST" id="bug_report">
        <p>Titre&nbsp;: <input type="text" name="title" required /></p>
        <p>Description&nbsp;: <textarea rows="2" cols="20" name="description" required></textarea></p>
        <p>{{ _m.submit('Envoyer',null,null,null) }}</p>
    </form>


{% endblock %}
