{% extends 'main.html' %}
{% block content_attrs %}class="connection-container"{% endblock %}
{% block content %}
<form method="POST" action="{{ page.form.action }}" class="connection">
    <img id="avatar" height="100" width="100" src="/views/static/images/logo128transp.png" />
    <div class="input-field">
        <label for="_inp_username" class="inset-label">Pseudo</label>
        <input type="text" id="_inp_username" name="username" />
    </div>
    <div class="input-field">
        <label for="_inp_password" class="inset-label">Mot de passe</label>
        <input type="password" id="_inp_password" name="password" />
    </div>

    <label class="field"><input type="checkbox" checked="checked" name="remember" id="remember" />Se rappeler de moi</label>
    <a href="{{ page.forgotten_password_url }}" class="helplink">Mot de passe oublié</a>
    <input type="submit" value="Connexion" />
</form>
{% endblock %}
