{% extends 'main.html' %}

{% block content %}

	{{ parent() }}
	
	{% if page.report is not empty %}
    <p>Signalé par&nbsp;: {{ page.report.author }}, le {{ page.report.reportDate }}.<br />
		Raison&nbsp;: {{ page.report.reason }} </p>
		<form action="{{ page.report.href }}" method="POST">
		{{ _m.hidden('report', page.report.reportId) }}
		{{ _m.hidden('content', page.report.contentId) }}
		{% for option in page.report.options %}
			{{ _m.submit(option.title, '', '', option.title) }}
		{% endfor %}
		</form>
	{% endif %}


	<h3>{{ page.content.title }}</h3>
	<p>{{ page.content.cursus }} — {{ page.content.courseName }} ({{ page.content.courseCode }})</p>
	<p>Posté par&nbsp;: {#{ page.content.username }#} le {{ page.content.date }}.</p>
	<p>{{ page.content.contentText }}</p>

{% endblock %}
