{% extends "main.html" %}
{% block content %}
<article class="course" data-course-id="{{ page.course.id }}" data-cursus-id="{{ page.cursus.id }}">
    <header>
        <h1>{{ page.course.name }}</h1>
        <p class="details">{%
            if page.course.ects > 0 %}<span class="ects">{{ page.course.ects }} ECTS</span> • {% endif %}{%
                if page.course.responsable is not null %}Référent&nbsp;: {{
                    _m.a_user( page.course.responsable ) }} • {% endif %}<a href="{{ page.course.wiki_url }}">Wiki</a>
        </p>
    </header>
    <div class="course-infos">
        <section class="intro">{{ page.course.intro|md2html|raw }}</section>
        {% if page.course.links is defined and page.course.links is not empty %}
        <div class="course-links-wrapper">
        <aside class="course-links">
            <h4>Liens utiles</h4>
            <ul class="links">
                {% for l in page.course.links %}
                <li><a href="{{ l.href|raw }}">{{ l.text }}</a></li>
                {% endfor %}
            </ul>
    </aside>
        </div>
        {% endif %}
    </div>
    {% include "utils/news.html" %}
    {% if page.course.content_types is defined and page.course.content_types is not empty %}
    <h2>Contenus</h2>
    <div class="tabbed-contents">
        <ul class="tabs">
            {% for ct_type in page.course.content_types %}
            <li class="tab" data-for="{{ ct_type.short_name }}">{{ ct_type.title }}</li>
            {% endfor %}
        </ul>
        <div class="tabs-contents">
            {% for ct_type in page.course.content_types %}
            <div class="tab-content" data-type="{{ ct_type.short_name }}">
                {% if ct_type.intro is defined and ct_type.intro %}<p>{{ ct_type.intro }}</p>{% endif %}
                {% if ct_type.no_year is not empty %}
                <ul>
                    {% for ct in ct_type.no_year %}
                    <li>{{ _m.a(ct.href, ct.title) }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for y in ct_type.years %}
                <h3>{{ y.title }}</h3>
                <ul>
                    {% for ct in y.contents %}
                    <li>{{ _m.a(ct.href, ct.title) }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</article>
{% endblock %}
