{% extends 'main.html' %}
{% import 'macros.html' as _m %}
{% block content %}
<h1>{{ page.title }}</h1>
    {% if page.confirmation is defined and page.confirmation %}
    <p>{{ page.confirmation }}{% if page.mail_url is defined and page.mail_url %}{#
                        #} <a href="{{ page.mail_url }}" rel="external">Consultez votre boîte de messagerie</a>.{% endif %}</p>
    {% else %}
<form action="{{ page.form.action }}" method="POST">
    <label>Email&nbsp;:<input type="email" name="email" required /></label>
    {{ _m.token(page.form.post_token) }}
    {{ _m.submit('Ok') }}
</form>
    {% endif %}
{% endblock%}
