
{# == inputs == #}

{# text input #}
{% macro input_tx(type, name, value, size) %}
    <input type="{{ type|default('text') }}"{% if name %} name="{{ name }}" id="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}{% if size %} size="{{ size }}"{% endif %} />
{% endmacro %}

{# text input with label before #}
{% macro label_input_tx(label, type, name, value, size) %}
    <label{% if name %} for="{{ name }}"{% endif %}>{{ label|default('') }}</label>{{ _self.input_tx(type, name, value, size) }}
{% endmacro %}

{# submit input #}
{% macro submit_input(value) %}
    <input type="submit" value="{{ value|default('Ok') }}" />
{% endmacro %}
