{% extends 'main.html' %}
{% block content %}

<article class="intro" id="message_accueil">
    <p>Bienvenue sur le site d’IP7, votre association de fillière informatique à Paris Diderot.<p>

    <p>Le but de cette association est de permettre aux étudiants, d’une part l’accès à des contenus pédagogiques
    utiles lors de leurs parcours universitaire, et d’autre part d’assurer un lien entre les différentes années en organisant par exemple 
    des conférences et des évènements généralement liés au monde de l’informatique. Parce que l’entraide et le partage sont des valeurs
    importantes à Paris 7, un réseau d’anciens élèves sera mis en place pour aider les étudiants dans leurs choix d’orientations.</p>

    <p>À titre d’exemple, seront mis à la disposition des étudiants les ressources suivantes&nbsp;:
        <ul>
        <li>énoncés des travaux dirigés (TD), ainsi que leurs corrigés</li>
            <li>énoncés des travaux pratiques (TP), ainsi que leurs corrigés</li>
            <li>énoncés des examens accompagnés de leurs corrigés.</li>
        </ul>
    </p>

    <p>Plus d’infos prochainement !</p>

    <i>Le site est en cours de construction…</i>
</article>

{% include 'utils/news.html' %}

{% endblock %}
