{% extends 'main.html' %}
{% block content %}

<article id="message_accueil">
    <p>Bienvenue sur le site d'IP7, votre association de fillière informatique de Paris Diderot.<p>

    <p>Le But de cette association est de permettre aux étudiants, d'une part l'accès à différents contenus pédagogique
    utiles lors de leur parcours universitaire, et d'autre part d'assurer un lien entre les différentes années en organisant par exemple 
    des conférences et des évènements. Parce que l'entraide et le partage sont des valeurs
    importantes à Paris 7, un réseau d'anciens élèves sera mis en place pour aider les étudiants dans leurs choix d'orientations, mais aussi
    pour trouver plus efficacement des stages.</p>

    <p>A titre d'exemple , seront mis à la disposition des étudiants les ressources suivantes :
        <ul>
            <li>Énoncés des Travaux dirigés (TD), ainsi que leurs corrigés</li>
            <li>Énoncés des Travaux pratique (TP), ainsi que leurs corrigés</li>
            <li>Énoncés des Examens accompagnés de leurs corrigés.</li>
        </ul>
    </p>

    <p>Plus d'infos prochainement !</p>

    <i>Le Site est en cours de consctruction donc un peu de patience ..</i>
</article>

{% include 'utils/news.html' %}

{% endblock %}
