{% extends 'main.html' %}
{% block content %}

<article class="intro" id="message_accueil">
    <p>Bienvenue sur le site d’IP7, votre association de fillière informatique à Paris Diderot.<p>

    <p>Le but de cette association est de permettre aux étudiants, d’une part l’accès à des contenus pédagogiques
    utiles lors de leurs parcours universitaire, et d’autre part d’assurer un lien entre les différentes années en organisant par exemple 
    des conférences et des évènements liés au monde de l’informatique.</p>
    <p>Si vous êtes intéressé(e) pour contribuer à l’association, consultez <a href="/contribuer">notre page dédiée</a>.</p>

</article>

{% endblock %}
