
{### Inline HTML tags ####}

{# a #}
{% macro a(href, value, title, hreflang, external, class, id) %}
<a href="{{ href|raw }}"{% if title is defined and title is not empty %} title="{{ title|raw }}"{% endif %}{#
                            #}{% if hreflang is defined and hreflang is not empty %} hreflang="{{ hreflang|e('html_attr') }}"{% endif %}{#
                            #}{% if external is defined and external %} rel="external"{% endif %}{#
                            #}{% if class is defined and class %} class="{{ class|join(' ')}}"{% endif %}{#
                            #}{% if id is defined and id %} id="{{ id|raw}}"{% endif %}{#
                            #}>{{ value | e }}</a>
{% endmacro %}

{# a.button #}
{% macro a_button(href, value, title, hreflang, external) %}
{{ _self.a(href, value, title, hreflang, external, ['button']) }}
{% endmacro %}

{# abbr #}
{% macro abbr(title, abbr_txt) %}
    {% if abbr_txt is defined and abbr_txt %}
    <abbr title="{{ title|raw }}">{{ abbr_txt |e }}</abbr>
    {% else %}
        {{ title | e }}
    {% endif %}
{% endmacro %}

{# date #}
{% macro date(dt) %}
{% if dt.date is defined and dt.date %}{#
  #}<date{% if dt.datetime_attr is defined and dt.datetime_attr %} datetime="{{ dt.datetime_attr }}"{% endif %}>{{ dt.date }}</date>{#
#}{% endif %}
{% endmacro %}

{# input #}

{# - checkbox #}
{% macro checkbox(name, value, id, checked) %}
<input type="checkbox"{% if name    is defined and name    %} name="{{ name }}"{%       endif %}{#
                    #}{% if id      is defined and id      %} id="{{ id }}"{%           endif %}{#
                    #}{% if checked is defined and checked %} checked="checked"{%       endif %}{#
                    #}{% if value   is defined and value   %} value="{{ value }}"{%     endif %} />
{% endmacro %}

{# - submit #}
{% macro submit(value, id, classes, name) %}
<input type="submit"{% if value   is defined and value   %} value="{{ value }}"{%             endif %}{#
                  #}{% if id      is defined and id      %} id="{{ id }}"{%                   endif %}{#
                  #}{% if classes is defined and classes %} class="{{ classes|join(' ') }}"{% endif %}{#
		  #}{% if name 	  is defined and name	 %} name ="{{ name }}"{%	      endif %} />
{% endmacro %}

{# - token #}
{% macro token(value) %}
<input type="hidden" name="t" value="{{ value }}" />
{% endmacro %}

{# hidden id #}
{% macro hiddenId(name, value) %}
<input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endmacro %}

{# meta #}

{# - robots #}
{% macro robots(ct) %}
<meta name="robots" content="{{ ct|default(['noindex'])|join(',') }}" />
{% endmacro %}

{#### Navigation ####}

{# nav link #}
{% macro navlink(href, value, title, hreflang, external) %}
<li class="navlink">{{ _self.a(href, value, title, hreflang, false) }}</li>
{% endmacro %}


