
{### Inline HTML tags ####}

{# a #}
{% macro a(href, value, title, hreflang, external) %}
<a href="{{ href|raw }}"{% if title is defined and title is not empty %} title="{{ title|raw }}"{% endif %}{#
                            #}{% if hreflang is defined and hreflang is not empty %} hreflang="{{ hreflang|e('html_attr') }}"{% endif %}{#
                            #}{% if external is defined and external %} rel="external"{% endif %}{#
                                #}>{{ value | e }}</a>
{% endmacro %}

{# abbr #}
{% macro abbr(title, abbr_txt) %}
    {% if abbr_txt is defined and abbr_txt %}
    <abbr title="{{ title|raw }}">{{ abbr_txt |e }}</abbr>
    {% else %}
        {{ title | e }}
    {% endif %}
{% endmacro %}

{# input #}

{# - checkbox #}
{% macro checkbox(name, value, id, checked) %}
<input type="checkbox"{% if name is defined and name %} name="{{ name }}"{% endif %}{#
                        #}{% if id is defined and id %} id="{{ id }}"{% endif %}{#
                        #}{% if checked is defined and checked %} checked="checked"{% endif %}{#
                        #}{% if value is defined and value %} value="{{ value }}"{% endif %} />
{% endmacro %}

{# - submit #}
{% macro submit(value, id, classes) %}
<input type="submit"{% if value is defined and value %} value="{{ value }}"{% endif %}{#
        #}{% if id is defined and id %} id="{{ id }}"{% endif %}{#
        #}{% if classes is defined and classes %} class="{{ classes|join(' ') }}"{% endif %} />
{% endmacro %}

{# meta #}

{# - robots #}
{% macro robots(ct) %}
<meta name="robots" content="{{ ct|default(['noindex'])|join(',') }}" />
{% endmacro %}

{#### Navigation ####}

{# nav link #}
{% macro navlink(href, value, title, hreflang, external) %}
<li class="navlink">{{ _self.a(href, value, title, hreflang, false) }}</li>
{% endmacro %}
