{% import 'utils/macros.html' as _m %}
{% autoescape 'html_attr' %}
<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
        <head>
            <meta charset="{{ page.charset }}" />
            <meta name="language" content="{{ page.lang }}" />
{% endautoescape %}

            {# titre_site — titre_page #}
            <title>{% block title %}{{ site.title }}{% if page.title is defined and page.title %} – {{ page.title }}{% endif %}{% endblock %}</title>


                {% block metas %}
                {# Référencement #}
                <meta name="keywords" content="{{ page.keywords | join(',') }}" />
                <meta name="description" content="{{ page.description|raw }}" />

                {# humans.txt #}
                <link type="text/plain" rel="author" href="{{ site.authorsfile.href|raw }}">

                {# Accessibilité/Mobile #}
                <meta name="viewport" content="width=device-width" />
                {% endblock %}

                {# Styles pour IE #}
                {% if site.ie_styles is defined and site.ie_styles is not empty %}
                <!--[if lt IE 8]>
                    {% for style in site.ie_styles %}
                    <link rel="stylesheet" href="{{ style.href|raw }}" media="{{style.media|default('screen,projection') }}" />
                    {% endfor %}
                <![endif]-->
                {% endif %}

                {# Styles globaux #}
                {% if site.styles is not empty %}
                    {% for style in site.styles %}
                <link rel="stylesheet" href="{{ style.href|raw }}" media="{{ style.media|default('all') }}" />
                    {% endfor %}
                {% endif %}

                {# Styles de la page #}
                {% if page.styles is defined  and page.styles is not empty %}
                    {% for style in page.styles %}
                <link rel="stylesheet" href="{{ style.href|raw }}" media="{{ style.media|default('all') }}" />
                    {% endfor %}
                {% endif %}

                {# Icones #}
                <link rel="icon" type="image/png" href="{{ page.favicon }}" />
                <link rel="apple-touch-icon" href="{{ page.apple_icon }}" />

                {# Scripts pour le rendu #}
                {% if site.rendering_scripts is not empty %}
                    {% for script in site.rendering_scripts %}
                <script src="{{ script.href|raw }}"></script>
                    {% endfor %}
                {% endif %}
        </head>
{% flush %}
        <body>
            <div id="container">
                {# barre du haut #}
                <header id="global_header" class="bar">
                    <nav id="global_header_nav">
                    {# logo #}
                        <a href="{{ site.root|raw }}" title="Retour à l’accueil" id="main_logo_link">
                            <img src="{{ site.logo.src|raw }}" width="{{ site.logo.width }}" height="{{ site.logo.height }}" alt="IP7" class="logo" />
                        </a>

                    {# navigation #}
                        {% block globalnav %}
                        {# cursus #}
                        <ul id="cursus_nav" class="nav-group">
                            {% for cursus in site.global_links.cursus %}
                            <li class="navlink cursus"><a href="{{ cursus.href|raw }}"><abbr title="{{ cursus.title|e('html') }}">{{ cursus.abbr|e }}</abbr></a></li>
                            {% endfor %}
                        </ul>

                        {# autres liens globaux #}
                        <ul id="others_nav" class="nav-group">
                            {% for link in site.global_links.others %}
                            {{ _m.navlink(link.href, link.title) }}
                            {% endfor %}
                            {% if site.connection_button is defined and site.connection_button %}
                            {{ _m.connection_button(site.connection_button) }}
                            {% endif %}
                        </ul>
                        {% endblock %}

                    {# recherche #}
                    {% if page.no_search is not defined or page.no_search == false %}
                        <form id="search" {#
                        #}action="{{ site.search.action |raw }}" method="{{ site.search.method |e('html_attr') }}">
                            <label for="q" class="hidden explicit">Recherche</label>
                            <input type="search" id="q" name="q" placeholder="Recherche…" />
                            <input type="submit" value="Ok" />
                        </form>
                    {% endif %}
                    </nav>
                </header>

                {# message (notification) éventuel #}
                {% if page.message is defined and page.message %}
                <div class="msg{% if page.message_type is defined and page.message_type %} {{ page.message_type }}_msg{% else %} notice_msg{% endif %}">{{ page.message|e }}<p></div>
                {% endif %}

                {# fil d'ariane #}
                {% include 'utils/breadcrumbs.html' %}

                {% include 'utils/moderation_bar.html' %}

                {# contenu #}
                <section id="main_content" {% block content_attrs %}{% endblock %}>{% block content %}<h1>{{ page.title }}</h1>{% endblock %}</section>

            </div>
            {# footer #}

            <footer id="global_footer" class="bar">
                <nav id="global_footer_nav">
                    <ul>
                        {% for link in site.footer_links %}
                        {{ _m.navlink(link.href, link.title) }}
                        {% endfor %}
                    </ul>
                </nav>
            </footer>

            {# autres scripts #}
            {% if site.scripts is not empty %}
                {% for script in site.scripts %}
            <script src="{{ script.src |raw }}"></script>
                {% endfor %}
            {% endif %}
            {% if page.scripts is defined and page.scripts is not empty %}
                {% for script in page.scripts %}
            <script src="{{ script.src |raw }}"></script>
                {% endfor %}
            {% endif %}
        </body>
</html>
