{% import 'macros/inline.html' as inline %}
{% autoescape 'html_attr' %}
<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
        <head>
            <meta charset="{{ page.charset }}" />
            <meta name="language" content="{{ page.lang }}" />
{% endautoescape %}

            {# titre_site — titre_page #}
            <title>{% block title %}{{ site.title }}{% if page.title is defined %} – {{ page.title }}{% endif %}{% endblock %}</title>

{% autoescape 'html_attr' %}

                {# Référencement #}
                <meta name="keywords" content="{{ page.keywords | join }}" />
                <meta name="description" content="{{ page.description }}" />

                {# humans.txt #}
                <link type="text/plain" rel="author" href="{{ site.authorsfile.href }}">

                {# Accessibilité/Mobile #}
                <meta name="viewport" content="width=device-width" />

                {# Styles globaux #}
                {% if site.styles is not empty %}
                    {% for style in site.styles %}
                <link rel="stylesheet" href="{{ style.href }}" media="{{ style.media|default('all') }}" />
                    {% endfor %}
                {% endif %}
                {# Styles de la page #}
                {% if page.styles is defined  and page.styles is not empty %}
                    {% for style in page.styles %}
                <link rel="stylesheet" href="{{ style.href }}" media="{{ style.media|default('all') }}" />
                    {% endfor %}
                {% endif %}

                {# Icones #}
                <link rel="icon" type="image/png" href="{{ page.favicon }}" />
                <link rel="apple-touch-icon" href="{{ page.apple_icon }}" />

                {# Scripts pour le rendu #}
                {% if site.rendering_scripts is not empty %}
                    {% for script in site.rendering_scripts %}
                <script src="{{ script }}"></script>
                    {% endfor %}
                {% endif %}
        </head>
{% flush %}
        <body>
            {# barre du haut #}
            <header id="global_header">
                {# logo #}
                <a href="{{ site.root }}" title="Retour à l’accueil" id="main_logo_link">
                    <img src="{{ site.logo.src }}" width="{{ site.logo.width }}" height="{{ site.logo.height }}" alt="IP7" class="logo" />
                </a>

{% endautoescape %}

                {# navigation #}
                <nav id="global_nav">
                    {# cursus #}
                    <ul id="cursus_nav">
                        {% for cursus in site.global_links.cursus %}
                        <li class="navlink cursus"><a href="{{ cursus.href|e('html_attr') }}"><abbr title="{{ cursus.title|e('html_attr') }}">{{ cursus.abbr|e }}</abbr></a></li>
                        {% endfor %}
                    </ul>

                    {# autres liens globaux #}
                    <ul id="others_nav">
                        {% for link in site.global_links.others %}
                        <li class="navlink">{{ inline.a(link.href, link.title) }}</li>
                        {% endfor %}
                    </ul>
                </nav>

                {# recherche #}
                <aside id="search">
                    <form action="{{ site.search.action |e('html_attr') }}" method="{{ site.search.method |e('html_attr') }}">
                        <label for="q">Recherche</label>
                        <input type="search" id="q" name="q" placeholder="Recherche…" />
                        <input type="submit" value="Ok" />
                    </form>
                </aside>
            </header>

            {# message (notification) éventuel #}
            {% if page.message is defined and page.message %}
            <div class="msg{% if page.message_type is defined and page.message_type %} {{page.message_type}}_msg{% endif %}">{{ page.message|e }}<p></div>
            {% endif %}

            {# fil d'ariane #}
            {% if page.breadcrumb is defined %}
            <div id="breadcrumb">Vous êtes ici&nbsp;: {{ inline.a(site.root, 'Accueil') }}{% if page.breadcrumb is not empty %}{% for b in page.breadcrumb %} &gt; <a href="{{ b.href|e('html_attr') }}>"{{ b.title|e }}</a>{% endfor %}</div>
            {% endif %}

            {# contenu #}
            <section id="main_content">{% block content %}{% endblock %}</section>

            {# footer #}

            <footer id="global_footer">
                <nav id="footer_nav">
                    <ul>
                        {% for link in site.footer_links %}
                        <li class="navlink">{{ inline.a(link.href, link.title) }}</li>
                        {% endfor %}
                    </ul>
                </nav>
            </footer>

            {# autres scripts #}
            {% if site.scripts is not empty %}
                {% for script in site.scripts %}
            <script src="{{ script.src |e('html_attr') }}"></script>
                {% endfor %}
            {% endif %}
        </body>
</html>

