{% extends (admin is defined and admin) ? 'admin_main.html' : 'main.html' %}
{% import 'macros.html' as _m %}
{% block metas %}
{% if page.noindex is defined and page.noindex %}{{ _m.robots(['noindex']) }}{% else %}{{ parent() }}{% endif %}
{% endblock %}
{% block content %}

    {% block profile_title %}<h1>Profil de {{ page.user.name }}</h1>{% endblock %}

    <section class="profile" itemtype="http://schema.org/Person" itemscope>
        <img itemprop="image" itemscope class="avatar" href="{{ page.user.avatar.href }}" {#
                                         #}height="{{ page.user.avatar.height }}" width="{{ page.user.avatar.width }}" />
        <dl>
            {{ _m.ifdeftrue('<dt>Pseudo&nbsp;:</dt><dd class="pseudo">',                    page.user.pseudo,          '</dd>') }}
            {{ _m.ifdeftrue('<dt>Prénom&nbsp;:</dt><dd itemprop="givenName" itemscope>',    page.user.firstname,       '</dd>') }}
            {{ _m.ifdeftrue('<dt>Nom&nbsp;:</dt><dd itemprop="familyName" itemscope>',      page.user.lastname,        '</dd>') }}
            {{ _m.ifdeftrue('<dt>Statut&nbsp;:</dt><dd class="status">',                    page.user.status,          '</dd>') }}
            {% if page.user.birthdate is defined and page.user.birthdate %}<dt>Date de naissance&nbsp;:</dt>{#
                #}<dd><date datetime="{{ page.user.birthdate.datetime_attr }}" itemprop="birthDate" itemscope>{{ page.user.birthdate.date }}</date>{#
                    #}{{ _m.ifdeftrue(' (',                                                 page.user.age,             ' ans)</dd>') }}
            {% else %}{#
          #}{{ _m.ifdeftrue('<dt>Âge&nbsp;:</dt><dd class="age">',                          page.user.age,             '</dd>') }}{% endif %}
            {{ _m.ifdeftrue('<dt>E-mail&nbsp;:</dt><dd itemprop="email" itemscope>',        page.user.email,           '</dd>') }}
            {{ _m.ifdeftrue('<dt>Téléphone&nbsp;:</dt><dd itemprop="telephone" itemscope>', page.user.phone,           '</dd>') }}
            {{ _m.ifdeftrue('<dt>Adresse&nbsp;:</dt><dd itemprop="address" itemscope>',     page.user.address,         '</dd>') }}
            {% if page.user.website is defined and page.user.website %}<dt>Site Web&nbsp;:</dt>{#
                #}<dd class="website"><a rel="external nofollow" href="{{ page.user.website.href }}">{{ page.user.website.title }}</a></dd>{% endif %}
            {{ _m.ifdeftrue('<dt>Date d\'inscription&nbsp;:</dt><dd>',                      page.user.entry_date,      '</dd>') }}
            {{ _m.ifdeftrue('<dt>Date de dernière inscription&nbsp;:</dt><dd>',             page.user.last_entry_date, '</dd>') }}
            {{ _m.ifdeftrue('<dt>Dernière visite&nbsp;:</dt><dd>',                          page.user.last_visit,      '</dd>') }}
            {{ _m.ifdeftrue('<dt>Nombre de visites&nbsp;:</dt><dd>',                        page.user.visits_number,   '</dd>') }}

        </dl>

        {{ _m.ifdeftrue ('<section itemprop="description" itemscope>', page.user.description, '</section>') }}
    </section>

{% endblock %}
