{% extends 'main.html' %}
{% block content_attrs %} itemscope itemtype="http://schema.org/SearchResultsPage"{% endblock %}
{% block content %}
<h1>{{ page.title }}</h1>
    {% if page.results.categories is defined %}
        {% for c in page.results.categories %}
            {% if c.values is defined and c.values %}
    <section class="search_results_category">
        <h4>{{ c.title }}</h4>
        <ol>
                {% for r in c.values %}
                    {% if r.href is defined and r.title is defined %}
            <li class="search_result">{{ _m.a(r.href, r.title) }}</li>
                    {% endif %}
                {% endfor %}
        </ol>
    </section>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
