{% extends 'main.html' %}
{% block content %}
<h1>{{ page.title }}</h1>
<form method="post">
    <label for="_f_ln">Nom&nbsp;:
        <input type="text" required="required" name="lastname" id="_f_ln" /></label>
    <label for="_f_fl">Prénom&nbsp;:
        <input type="text" required="required" name="firstname" id="_f_fl" /></label>
    <label for="_f_e">E-mail&nbsp;:
        <input type="email" required="required" name="email" id="_f_e" /></label>

    <label for="_f_s1"><input type="checkbox" checked="true" name="etu" value="1" id="_f_s1"/>étudiant(e)</label>
    <label for="_f_s2"><input type="checkbox" name="a_etu" value="1" id="_f_s2"/>ancien(ne) étudiant(e)</label>
    <label for="_f_s3"><input type="checkbox" name="ens" value="1" id="_f_s3"/>enseignant(e)</label>

    <label for="_f_dob">Date de naissance&nbsp;:
        <input type="date" name="dob" id="_f_dob" /><p class="microcopy">(facultatif)</p></label>

    <label for="_f_phone">Téléphone&nbsp;:
        <input type="tel" name="phone" id="_f_phone" /><p class="microcopy">(facultatif)</p></label>

    <p>Une fois votre inscription validée, vous recevrez par email un lien pour choisir votre pseudo et mot de passe.</p>

    <input type="submit" value="S’inscrire" />

</form>
{% endblock %}
