{% if page.news is defined and page.news is not empty %}
<section id="news">
{% autoescape %}
    <h2>Actualités</h2>
    {% if page.add_news_button is defined and page.add_news_button %}
    {{ _m.a_button(page.add_news_button.href, page.add_news_button.title) }}
    {% endif %}
    <ul>
    {% for news in page.news %}
    <li class="news" itemscope itemptype="http://schema.org/NewsArticle">{#
        #}<header>[<time datetime="{{ news.datetime_attr }}" itemprop="datePublished">{{ news.datetime }}</time>] <h6 itemprop="name">{{ news.title }}</h6></header>{#
            #}<article>{{ news.content }}</article>{#
            #}{% if news.author is defined and news.author %}{#
            #}<a rel="author" class="user" href="{{ news.author.href }}" itemprop="accountablePerson">({{ news.author.name }})</a>{#
            #}{% endif %}{#
#}</li>
    {% endfor %}
    </ul>
{% endautoescape %}
</section>
{% else %}
    {% if page.add_news_button is defined and page.add_news_button %}
{{ _m.a_button(page.add_news_button.href, page.add_news_button.title) }}
    {% endif %}
{% endif %}
