{% extends 'main.html' %}
{% block content %}

	{% if page.proposed is defined and page.proposed is not empty %}
	<section class="proposed">
		<form action="{{ page.proposed.form.action }}" method="POST">
			{{ _m.token(page.proposed.form.post_token) }}
			{{ _m.submit('Valider le contenu', null, null, 'validate') }}
			{{ _m.submit('Supprimer le contenu', null, null, 'delete') }}
		</form>
	{% endif %}

	{% if page.report is defined and page.report %}
    <section class="report">
    <p>Signalé par <a href="{{ page.report.author.href }}" class="user">{{ page.report.author.name }}</a>, {#
    #} <time datetime="{{ page.report.date.datetime }}">{{ page.report.date.text }}</time>, raison&nbsp;:{#
        #} «&nbsp;{{ page.report.explication }}&nbsp;».</p>
        <form action="{{ page.report.form.action }}" method="POST">
            {{ _m.token( page.report.form.post_token ) }}
            {{ _m.submit('Supprimer le contenu', null, null, 'validate') }}
            {{ _m.submit('Annuler le signalement', null, null, 'cancel') }}
        </form>
    </section>
    {% endif %}

    <article class="user_content">
        <header class="content_header">
            {% if page.content.year is defined and page.content.year %}
            <time datetime="{{ page.content.year.begin }}-09-01T00:00:00Z/P1Y" class="content-year">{#
            #}{{ page.content.year.begin }}/{{ page.content.year.end }}</time>
            {% endif %}
            {% if page.content.type is defined and page.content.type %}
            <span class="content-type"><a href="{{ page.content.type.href }}">{{ page.content.type.title }}</a></span>
            {% endif %}
            <h1>{{ page.content.title }}</h1>
            <p>Posté par <a href="{{ page.content.author.href }}" class="user" rel="author">{{ page.content.author.name }}</a>{#
            #} <time datetime="{{ page.content.date.datetime }}">{{ page.content.date.text }}</time>.</p>
        </header>
        <section class="user_content_text">{{ page.content.text|md2html|raw }}</section>
        {% if page.content.files is defined and page.content.files is not empty %}
        <aside class="user_content_files">
            <h3>Fichiers</h3>
            <ul class="fileslist">
            {% for f in page.content.files %}
            <li class="file-li">{{ _m.a(f.url, f.title, null, null, null, 'piwik_download') }}{#
                #}{% if f.description is defined and f.description %}&nbsp;: {{ f.description }}{% endif %}</li>
            {% endfor %}
            </ul>
        </aside>
        {% endif %}
    </article>
    {# Disqus #}
    {% if page.disqus is defined and page.disqus %}
    <div id="disqus_thread"></div>
    <script>var disqus_identifier='{{ page.disqus.identifier|raw }}',{#
              #}disqus_title='{{ page.title }}',{#
              #}disqus_url='{{ page.url }}',{#
              #}disqus_category_id='2251039';</script>
    {% endif %}

{% endblock %}
