{% extends 'main.html' %}
{% block meta %}
{{ _m.robots('noindex') }}
{% endblock %}
{% block content %}
<article class="content_preview">
    {{ parent() }}
    <h2>{{ page.content.title }}</h2>
    <div>{{ page.content.text|md2html|raw }}</div>
    {% if page.content.files is defined and page.content.files is not empty %}
    <hr />
    <h2>Fichiers</h2>
    <ul>
        {% for f in page.content.files %}
        <li>{{ f.name }}</li>
        {% endfor %}
    </ul>
        {% if (page.content.type is defined) or (page.content.year is defined) %}
    <h2>Informations complémentaires</h2>
    <ul>
        {% if page.content.type is defined %}<li>Type&nbsp;: {{ page.content.type }}</li>{% endif %}
        {% if page.content.year is defined %}<li>Année&nbsp;: {{ page.content.year.begin }}/{{ page.content.year.end }}</li>{% endif %}
    </ul>
        {% endif %}
    {% endif %}
    <form action="{{ page.form.action }}" method="POST">
    {{ _m.token(page.form.token) }}
    {{ _m.submit('Proposer') }}
    </form>
</article>
{% endblock %}
