{% extends 'main.html' %}
{% block meta %}
{{ _m.robots('noindex') }}
{% endblock %}
{% block content %}
{{ parent() }}
<form action="{{ page.form.action }}" method="POST" enctype="multipart/form-data" class="proposing-content">
    <input type="hidden" name="MAX_FILE_SIZE" value="{{ site.file_upload_max_size }}" />

    <label class="container">Titre&nbsp;: <input type="text" name="title" class="title" maxlength="140" value="{{ page.form.values.title }}" required /></label>
    
    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea class="wmd-input" id="wmd-input" cols="75" rows="14" name="text" />{{ page.form.values.text }}</textarea>
    </div>
    <h6>Prévisualisation:</h6>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    
    <label class="container">Type&nbsp;: <select name="type" selected="{{ page.form.values.type }}">{#
            #}{% for t in page.form.types %}<option value="{{ t.value }}">{{ t.name }}</option>{% endfor %}</select></label>
    
    <label class="container">Année&nbsp;: <select name="year">{#
            #}{% for y in page.form.years %}<option value="{{ y.value }}">{{ y.name }}</option>{% endfor %}</select></label>
        
    {{ _m.token(page.token) }}
    
    <fieldset class="files_inputs" data-max="{{ page.form.max_files_nb }}">
        {# This is done with JS:
        <label>Fichier&nbsp;: <input type="file" name="userfiles[]" accept="text/*,application/*" />
            <p class="microcopy">Facultatif, 2Mio max.</p></label>
        <label>Description&nbsp;: <input type="text" name="desc[]" maxlength="240" /><p class="microcopy">Facultatif.</p></label>
        #}</fieldset>
    
    {{ _m.submit('Prévisualiser') }}
</form>
{% endblock %}
