{% extends 'admin/main.html' %}
{% block admin_content %}

<form action="{{ page.add_form.action }}" method="POST">
    <label>Nom&nbsp;:<input type="text" name="lastname" autofocus required /></label>
    <label>Prénom&nbsp;:<input type="text" name="firstname" required /></label>
    <label>Adresse email&nbsp;:<input type="email" name="email" required /></label>
    <label>Date de naissance&nbsp;:<input type="date" name="birthdate" min="{{ page.add_form.birthdate.min }}" max="{{ page.add_form.birthdate.max }}" />{#
        #}<p class="microcopy">De la forme JJ/MM/AA</p></label>
    <label>Téléphone&nbsp;:<input type="phone" name="phone" /></label>
    <p class="label">Status&nbsp;:{#
        #}<label class="inline">{{ _m.checkbox("student", '1', null, true) }} Étudiant</label>{#
        #}<label class="inline">{{ _m.checkbox("alumni", '1') }} Ancien étudiant</label>{#
        #}<label class="inline">{{ _m.checkbox("teacher", '1') }} Enseignant</label>{#
        #}</p>
    <label>Cursus&nbsp;:<select name="educpaths[]" multiple>
        {% for e in page.add_form.educational_paths %}
            <option value="{{ e.value }}">{{ e.name }}</option>
        {% endfor %}
    </select></label>
    <label>Remarques&nbsp;:<input type="text" name="remarks" maxlength="255" /></label>
    <label>Rang&nbsp;:<select name="rank">
        <option value="none">–</option>
        <option value="member" selected>Membre</option>
        <option value="moderator">Modérateur</option>
        <option value="admin">Administrateur</option>
    </select></label>
    <label>{{ _m.checkbox("activated", '1') }} Compte activé</label>
    <label>{{ _m.checkbox("fee",       '1') }} Cotisation payée</label>

    {{ _m.token(page.add_form.post_token) }}

    {{ _m.submit("Ajouter") }}
</form>

{% endblock %}
