{% extends 'admin/main.html' %}
{% import 'macros.html' as _m %}
{% block admin_content %}
{{ parent() }}

	{% if page.reports is empty %}
		<p>Aucun report actuellement</p>
	
	{% else %}
	
		{% if page.msg is not empty %}<p> {{ page.msg }} </p>{% endif %}

		<table id="reportList" border="1">
			<tr><th>Titre du contenu</th><th>Date de report</th><th>Pseudo</th><th>Raison</th><th id="empty"></th></tr>

			{% for contentReport in page.reports %}
			<tr>
				<td class="contentTitle"> {{ contentReport.title }} </td>
				<td class="reportDate"> {{ contentReport.reportDate }} </td>
				<td class="pseudo"> {{ _m.a(contentReport.hrefUser, contentReport.pseudo) }} </td>
				<td class="reason"> {{ contentReport.reason }} </td>
				<td class="view"><a href='{{ contentReport.href }}' /><button>Voir</button></a></td>
			</tr>
			{% endfor %}

		</table>

	{% endif %}

{% endblock %}
