{% extends 'admin/main.html' %}
{% block admin_content %}
{{ parent() }}

	{% if page.reports is empty %}
		<p>Aucun contenu signalé actuellement.</p>
	{% else %}

		<table id="reportList" border="1">
			<tr><th>Titre du contenu</th><th>Date du signalement</th><th>Auteur</th><th>Raison</th><th class="empty"></th></tr>

			{% for r in page.reports %}
			<tr>
				<td>{{ r.content.title }}</td>
				<td>{{ _m.date(r.date) }}</td>
				<td>{{ _m.a_user(r.author) }}</td>
				<td>{{ r.explication }}</td>
				<td><a href="{{ r.href }}" class="button" />Voir</a></td>
			</tr>
			{% endfor %}

		</table>

	{% endif %}

{% endblock %}
