{% extends 'admin/main.html' %}
{% block admin_content %}
<h1>{{ page.title }}</h1>
<h2>Instructions</h2>
<ol class="instructions">
    <li>Modifiez le schéma XML de la base de données.</li>
    <li>Placez-vous dans le répertoire <span class="filepath">models/</span></li>
    <li>Exécutez <code class="language-bash">propel diff</code>. La commande doit générer un fichier <span class="filepath">models/build/migrations/PropelMigration_xxx.php</span>.</li>
    <li>Exécutez <code class="language-bash">./migrate.sh</code>. Le script doit générer un fichier <span class="filepath">migration.sql</span>.</li>
    <li>Exécutez <code class="language-bash">propel om</code> pour mettre à jour les classes des modèles.</li>
    <li>Dans phpMyAdmin, ouvrez la fenêtre SQL, et sélectionnez le fichier <span class="filepath">migration.sql</span> précédemment généré. Exécutez-le.</li>
</ol>
{% endblock %}
