{% extends 'main.html' %}
{% block title %}{{ site.title }} – Administration{% if page.title is defined and page.title %} – {{ page.title }}{% endif %}{% endblock %}
{% block metas %}
{{ _m.robots(['noindex', 'nofollow']) }}
{% endblock %}
{% block globalnav %}
<ul id="admin_nav">
    {% for link in page.navlinks %}
    {{ _m.navlink(link.href, link.title) }}
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
    {% block admin_content %}
<h1>{% if page.title is defined and page.title %}{{ page.title }}{% else %}Administration{% endif %}</h1>
        {% if page.sections is defined and page.sections %}
            {% for s in page.sections %}
<section id="{{ s.id }}">
    <h2 id="{{s.id}}">{{ s.title }}</h2>
                {% if s.intro is defined and s.intro %}
        <p>{{ s.intro }}</p>
                {% endif %}
                {% if s.actions is defined and s.actions %}
        <ul class="actions">
                    {% for a in s.actions %}
            {{ _m.navlink(a.href, a.title) }}
                    {% endfor %}
        </ul>
                {% endif %}
</section>
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endblock %}
