<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
    {% block head %}
        <meta charset="{{ page.charset }}" />
        <meta name="language" content="{{ page.lang }}" />
        <title>{{ page.title }}</title>

        {# referencement #}
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="description" content="{{ page.description }}"/>

        {# accessibility #}
        <meta name="viewport" content="width=device-width" />
    {% endblock %}
</head>

